<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
    <div class="page">
        <nav>
            <a href="{{ url_for('index') }}">home</a>
            <a href="{{ url_for('search') }}">search</a>
            <a href="{{ url_for('about') }}">about</a>
            <a class="right" href="{{ url_for('settings') }}">settings</a>
        </nav>
        {% block body %}{% endblock %}
    </div>
    {% block outside %}{% endblock %}
    <script src="{{ url_for('static', filename='js/pixel-data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/frontpage-art.js') }}"></script>
</body>

</html>