{% extends 'base.html' %}

{% block head %}
<title>Manga Recommender</title>
{% endblock %}

{% block body %}

<h1>Test Tasks</h1>

<form action="/" method="POST">
    <input type="hidden" name="content" value="one">
    <input type="submit" value="Add first batch of mangas">
</form>

<form action="/" method="POST">
    <input type="hidden" name="content" value="two">
    <input type="submit" value="Add second batch of mangas">
</form>

<a href="{{ url_for('search') }}" class="search-link">Search</a>

{% endblock %}