{% extends 'base.html' %}

{% block head %}
<title>{{ manga.title }} - Pleiades</title>
{% endblock %}

{% block body %}
<div class="manga">
    <div>
        <h1 class="typed">{{ manga.title }}</h1>
        <p class="native">{{ manga.native_title }}</p>

        <dl>
            <dt>type</dt>
            <dd>{{ manga.type }}</dd>
            <dt>status</dt>
            <dd>{{ manga.status }}</dd>
            <dt>year</dt>
            <dd>{{ manga.year }}</dd>
            <dt>chapters</dt>
            <dd>{{ manga.total_chapters }}</dd>
            <dt>rating</dt>
            <dd>{{ manga.rating }}</dd>
            <dt>avg score</dt>
            <dd>{{ manga.avg_rating }}</dd>
            <dt>authors</dt>
            <dd>{{ manga.authors|join(', ') }}</dd>
            <dt>genres</dt>
            <dd>{{ manga.genres|join(', ') }}</dd>
            <dt>tags</dt>
            <dd>{{ manga.tags|join(', ') }}</dd>
        </dl>

        <p class="description">{{ manga.description }}</p>
    </div>

    <img class="manga-image" src="{{ manga.cover_url }}" alt="">
</div>
{% endblock %}